.App {
  height: 100vh;
  display: flex;
}

.Hero-list-section {
  max-width: 350px;
  background-color: lightblue;
  overflow-y: scroll;
}

.Hero-list {
  display: flex;
  flex-wrap: wrap;
}

.Hero-item {
  display: inline;
  padding: 5px;
  margin: 5px;
  background-color: khaki;
}

.Hero-item-delete-btn {
  margin-left: 10px;
  cursor: pointer;
}

.Retinues-calculation-section {
  width: 100vw;
  padding: 50px;
  background-color: coral;
}

.Retinues-summary {
  background-color: lightseagreen;
}
